<include file="Index/header" />
<body>
<div id="wrapper">

    <include file="Index/nav"/>
<div id="page-wrapper">

    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="admin.php?c=position">推荐位管理</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div >
            <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3></h3>
                <div class="table-responsive">
                    <form id="singcms-listorder">
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>推荐位名称</th>
                            <th>时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <volist name="positions" id="positions">
                            <tr>
                                <td>{$positions.id}</td>
                                <td>{$positions.name}</td>
                                <td>{$positions.create_time|date="Y-m-d H:i",###}</td>
                                <td>{$positions.status|status}</td>
                                <td>
                                    <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$positions.id}" ></span>
                                    <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$positions.id}"  attr-message="删除">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>
                        <nav>
                            <ul class="pagination">
                                {$pageRes}
                            </ul>
                        </nav>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
    var SCOPE = {
        'edit_url' : 'admin.php?c=Position&a=edit',
        'set_status_url' : 'admin.php?c=Position&a=setStatus',
        'add_url' : 'admin.php?c=Position&a=add',
        'listorder_url' : 'admin.php?c=Position&a=listorder',
        'push_url' : 'admin.php?c=Position&a=push',
    }

</script>
<include file="Index/footer" />